$red: #eb0028;
$fontColor: #828282;
$gray-d: #32353e;
$comColor: #ffd04b;
$bgColor: #f2f2f2;
$green: #33d042;
$yellow: #f5cd13;
$gray-l: #cccccc;
$fontSize: 14px;

// 不换行
@mixin no-wrap {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
// clearfix
.clearfix {
  &::after {
    content: "";
    height: 0;
    display: block;
    clear: both;
  }
}

// 一像素边框
@mixin borbm-1px {
  position: relative;

  &:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.8px;
    border-bottom: 1px solid #000;
    background-color: #cbcddb;
    content: "";
    line-height: 20px;
  }
}
